[submodule "bundle/nerdtree"]
	path = pack/shared-plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = pack/shared-plugins/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-git"]
	path = pack/shared-plugins/start/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/vim-fugitive"]
	path = pack/shared-plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-colors-solarized"]
	path = pack/shared-plugins/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-rtags"]
	path = pack/cpp-plugins/start/vim-rtags
	url = https://github.com/lyuts/vim-rtags.git
[submodule "bundle/vim-airline"]
	path = pack/shared-plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = pack/shared-plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/neomake"]
	path = pack/cpp-plugins/opt/neomake
	url = https://github.com/umogSlayer/neomake.git
[submodule "bundle/YouCompleteMe"]
	path = pack/ycm/opt/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/python-mode"]
	path = pack/python-plugins/start/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "bundle/vim-workspace"]
	path = pack/shared-plugins/start/vim-workspace
	url = https://github.com/thaerkh/vim-workspace.git
[submodule "bundle/tagbar"]
	path = pack/shared-plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/gyp.vim"]
	path = pack/cpp-plugins/start/gyp.vim
	url = https://github.com/kelan/gyp.vim
[submodule "bundle/vim-makejob"]
	path = pack/cpp-plugins/opt/vim-makejob
	url = https://github.com/foxik/vim-makejob.git
	branch = master
[submodule "bundle/vim-cpp-enhanced-highlight"]
	path = pack/cpp-plugins/start/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "bundle/fzf"]
	path = pack/shared-plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "bundle/fzf.vim"]
	path = pack/shared-plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/build-plugins/start/dispatch"]
	path = pack/build-plugins/start/dispatch
	url = https://tpope.io/vim/dispatch.git
[submodule "pack/omnisharp/opt/omnisharp-vim"]
	path = pack/omnisharp/start/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim.git
[submodule "pack/copy-paste/start/vim-subversive"]
	path = pack/copy-paste/opt/vim-subversive
	url = https://github.com/svermeulen/vim-subversive.git
[submodule "pack/copy-paste/start/vim-yoink"]
	path = pack/copy-paste/opt/vim-yoink
	url = https://github.com/svermeulen/vim-yoink.git
[submodule "pack/copy-paste/start/vim-cutlass"]
	path = pack/copy-paste/opt/vim-cutlass
	url = https://github.com/svermeulen/vim-cutlass.git
[submodule "pack/rust-plugins/start/rust.vim"]
	path = pack/rust-plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "pack/vimspector/opt/vimspector"]
	path = pack/vimspector/opt/vimspector
	url = https://github.com/puremourning/vimspector.git
[submodule "pack/shared-plugins/start/vim-abolish"]
	path = pack/shared-plugins/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "pack/markdown-plugins/start/markdown-preview.nvim"]
	path = pack/markdown-plugins/start/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim.git
